@charset "UTF-8";
/***Imports***/
/***h2***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
.txtCentrado {
  justify-content: center; }

/***p**/
.txtJustificado {
  text-align: justify; }

p {
  color: whitesmoke; }

h2 {
  color: whitesmoke;
  font-style: normal; }

/***general***/
div {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px; }

/***Imports***/
header {
  position: sticky;
  top: 0px;
  z-index: 1030;
  background-color: black; }

/***Nav***/
/***nesting***/
ul {
  justify-content: end; }
  ul a:hover {
    background-color: white; }

/***mixin***/
/*.about {
    @include titulo(italic, green);
}*/
/***Fonts online***/
/***Reseteo del body***/
body {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/***Imports***/
/***th***/
th {
  text-align: center;
  font-style: normal; }

/***nesting***/
tr {
  background-color: aquamarine; }
  tr td {
    background-color: black; }
    tr td:hover {
      zoom: 150%; }

/***Imports***/
/***map***/
.title--lenguajes {
  color: red; }

.title--frameworks {
  color: blue; }

.title--basesdedatos {
  color: orange; }

.title--ides {
  color: purple; }

/***map-get**/
/*$estilosVarios: ( fondo: red);*/
/***Variables locales***/
/***Imagenes***/
img {
  max-height: 200px;
  max-width: 200px; }

.imagenCentrada {
  text-align: center; }

.img:hover {
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/***Animación***/
.texto_3d {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

/***iframe***/
/***extend***/
iframe, .iframe--modificado {
  width: 100%; }

.iframe--modificado {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px; }

/***Links***/
a:hover {
  font-size: large; }

.linksDerecha {
  justify-content: right; }

/***map-get***/
/*.fondo {
    background-color: map-get($estilosVarios, fondo);
}*/
/***map***/
.title--lenguajes {
  color: red; }

.title--frameworks {
  color: blue; }

.title--basesdedatos {
  color: orange; }

.title--ides {
  color: purple; }

/***map-get**/
/*$estilosVarios: ( fondo: red);*/
form div label {
  color: white;
  font-size: large; }

.fondoCards {
  background-color: black; }

.centrado {
  text-align: center; }

.imagenStandard {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px; }

.colorTitulo {
  color: whitesmoke; }
