/***Imports***/

@import "../utilities/mixins";
header {
    position: sticky;
    top: 0px;
    z-index: 1030;
}


/***Nav***/


/***nesting***/

ul {
    justify-content: end;
    a:hover {
        background-color: white;
    }
}


/***mixin***/

.about {
    @include titulo(italic, green);
}