/***Imports***/

@import "../utilities/vars";

/***th***/

th {
    text-align: $centrado;
    font-style: normal;
}


/***nesting***/

tr {
    background-color: aquamarine;
    td {
        background-color: black;
        &:hover {
            zoom: 150%;
        }
    }
}