/***Imports***/

@import "../utilities/vars";

/***h2***/

.txtCentrado {
    justify-content: $centrado;
}


/***p**/

.txtJustificado {
    text-align: justify;
}

p {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
    font-style: normal;
}


/***general***/

div {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}